<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Portfolio</title>
    <link rel="stylesheet" href="/about.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<!-- /* Jaspreet Kaur S# 301290469 , Lab assignment 1 */-->
<body>

<div class="container">
    <div class="profile-section">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/d1.jpg" alt="Jaspreet Kaur" class="img-fluid rounded-circle profile-pic">
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="icon"><i class="fab fa-github"></i></a>
                    <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Jaspreet Kaur</h2>
                <p>I am a dedicated web developer, proficient in a myriad of contemporary technology. Currently pursuing my passion for software development as a student, I continually hone my skills to merge theoretical knowledge with practical applications. My ambition is not only to create efficient code but also to craft impactful digital experiences that resonate with users and drive innovation in the ever-evolving world of technology.</p>
                <a href="/images/resume.jaspreet.pdf" download class="btn btn-outline-primary">Download My Resume</a>
            </div>
        </div>
    </div>
    
    <div class="skills-section">
        <h3>Skills</h3>
        <ul>
            <li>Web Development</li>
            <li>Database Management</li>
            <li>UI/UX Design</li>
            <li>Python Programming</li>
        </ul>
    </div>
</div>

</body>
</html>
